
<div align = "center" class="login-form">
    <mat-card style="border-radius: 5px ;background-color: rgb(253, 253, 253)" >
        <br>
        <mat-form-field class="input-box" appearance="outline">
            <mat-label>Username</mat-label>
            <input  matInput placeholder="username">
            <mat-icon matSuffix><i class="fas fa-user-tie"></i></mat-icon>
        </mat-form-field>
        <mat-form-field class="input-box" appearance="outline">
            <mat-label>Password</mat-label>
            <input [type]="!hide ? 'password' : 'text'" matInput placeholder="password">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>
        <div align="center" class="button-row">
           
            <button style="color: rgb(32, 202, 32)" mat-stroked-button color="basic">Sign Up</button>
            <button style="background-color: rgb(32, 202, 32)" mat-flat-button color="warn">Sign In</button>
        </div>
        <br>
    </mat-card>
    
</div>
 
